{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- <script src="https://www.w3schools.com/lib/w3.js"></script> -->
    <!-- <script src="{% static 'scripts/api.js' %}"></script> -->
    <!-- <script src="{% static 'scripts/main.js' %}"></script> -->
    <!-- <script src="{% static 'scripts/dnd.js' %}"></script> -->
    <script>



    </script>
<div class="col-sm-10">
  <h2 class="text-center">DRILL Goals</h2>
  <h4 id="gStep" class="text-center"><i class="bi bi-1-circle-fill"></i>  Let's Drill down your LT goals...</h4>
  <p id="gInstr" class="text-center">Description for what you are doing...</p>
</div>
<div class="container" style="flex-direction: column">
  {% for ll in goals.ll_goals %}
  <div id="LLcont{{forloop.counter}}" class="box row-fluid">
    <div id="LL{{forloop.counter}}" class="LL listitem box cellrow" name="xxx">
      <div id="LLT{{forloop.counter}}" class="col-md-2 small text-secondary" style="">Life Long Goal</div>
      <i id="LT" class="bi bi-chevron-down toggle-icon small"></i>
      <div id="LLtxt{{forloop.counter}}" class="col-md-10" style="">{{ll.name}}</div>
      {% for lt in ll.lt_goals %}
        <div id="LTcont{{forloop.counter}}" class="box row-fluid" name="xxx">
            <div id="LT{{forloop.counter}}" class="LT listitem box cellrow" name="xxx">
              <div id="LTT{{forloop.counter}}" class="col-md-2 small text-secondary" style="">Long Term Goal</div>
              <i id="MT" class="bi bi-chevron-down toggle-icon small"></i>
              <div id="LTtxt{{forloop.counter}}" class="col-md-10" style="">{{lt.name}}</div>
        {% for mt in lt.mt_goals %}
        <div id="MTcont{{forloop.counter}}" class="box row-fluid" name="xxx">
          <div id="MT{{forloop.counter}}" class="LT listitem box cellrow" name="xxx">
            <div id="MTT{{forloop.counter}}" class="col-md-2 small text-secondary" style="">Mid Term Goal</div>
            <i id="ST" class="bi bi-chevron-down toggle-icon small"></i>
            <div id="MTtxt{{forloop.counter}}" class="col-md-10" style="">{{mt.name}}</div>
        {% for st in mt.st_goals %}
        <div id="STcont{{forloop.counter}}" class="box row-fluid" name="xxx">
          <div id="ST{{forloop.counter}}" class="LT listitem box cellrow" name="xxx">
            <div id="STT{{forloop.counter}}" class="col-md-2 small text-secondary" style="">Short Term Goal</div>
            <i id="TK" class="bi bi-chevron-down toggle-icon small"></i>
            <div id="STtxt{{forloop.counter}}" class="col-md-10" style="">{{st.name}}</div>
            {% for tk in st.tasks %}
            <div id="TKcont{{forloop.counter}}" class="box row-fluid" name="xxx">
              <div id="TK{{forloop.counter}}" class="TK listitem box cellrow" name="xxx">
                <div id="TKT{{forloop.counter}}" class="col-md-2 small text-secondary" style="">Task</div>
                <div id="TKtext{{forloop.counter}}" class="col-md-10" style="">{{tk.name}}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
          {% endfor %}
        </div>
        </div>
        {% endfor %}
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% include 'goals_footer.html' with page='d' %}



  <div class="height"></div>
  
  <script>
$(document).ready(function() {
  $("[id^='LTcont'], [id^='MTcont'], [id^='STcont']").hide();
  $('.toggle-icon').on('click', function() {
    var parent = $(this).parent().parent();
    var prefix = $(this).attr('id').substr(0,2)+'cont';
    console.log('prefix',prefix,'parent',parent);
    var sections = parent.find("[id^=" + prefix + "]");
    console.log('sections',sections);
    sections.toggle();
    $(this).toggleClass('bi-chevron-down bi-chevron-right');
  });
});

var parent = $(this).parent().parent();
var prefix = $(this).attr('id').substr(0,2)+'cont';
var sections = parent.find("[id^=" + prefix + "]");
if (sections.length > 0) {
  console.log('Found ' + sections.length + ' sections');
  sections.toggle();
  $(this).toggleClass('bi-chevron-down bi-chevron-right');
} else {
  console.log('No sections found');
}


  </script>





{% endblock content %}