{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<link href="{% static 'css/hexamenu.css' %}" rel="stylesheet" type="text/css">

  <!-- <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul class="nav nav-pills justify-content-center"></ul>
          <li class="nav-item">
            <a class="nav-link" href="#">Option 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Option 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Option 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

  
  <main class="site-wrapper">
    <div class="pt-table desktop-768">
      <div class="pt-tablecell page-home relative" style="">
                      <div class="overlay"></div>
  
                      <div class="container" style="padding-top: 10px;">
                          <div class="row">
                              <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                  <div class="page-title  home text-center">
                                    <span class="heading-page"> Goals
                                    </span>
                                      <p class="mt20">Goals are the key to being strategic.  Please pick where you want to get started.</p>
                                  </div>
  
                                  <div class="hexagon-menu clear">
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a href="/goal?stage=p" class="hex-content">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-universal-access"></i>
                                                  </span>
                                                  <span class="title">Find Goals</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a href="/goal?stage=d" class="hex-content">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-bullseye"></i>
                                                  </span>
                                                  <span class="title">View Goals</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a href="/goal?stage=a" class="hex-content">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-braille"></i>
                                                  </span>
                                                  <span class="title">Drill Down</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>    
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a href="/goal?stage=l" class="hex-content">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-id-badge"></i>
                                                  </span>
                                                  <span class="title">Goal List</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-life-ring"></i>
                                                  </span>
                                                  <span class="title">Works</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-clipboard"></i>
                                                  </span>
                                                  <span class="title">Testimonials</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-map-signs"></i>
                                                  </span>
                                                  <span class="title">Contact</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
    </main>



{% endblock content %}