{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="{% static 'scripts/api.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/dnd.js' %}"></script>
    <script>



    </script>
<div class="col-sm-10">
  <h2 class="text-center">Align Goals</h2>
  <h4 id="gStep" class="text-center"><i class="bi bi-1-circle-fill"></i>  Next we need to align goals to each other.</h4>
  <p id="gInstr" class="text-center">Choose smaller goals that help achieve this goal and link this goal to a bigger picture goal.</p>
</div>


<div class="container">
<!--  HIGHER GOALS -->
{% if higher_goal == 'None' %}
  <div class="col-sm-4 px-1">
    <div class="card bg-secondary text-white">
      <div class="card-header" style="background-color: #c0c2c4; color:dimgrey">No Goals </div>
      <div class="card-body" style="background-color: #e8ecf0;">
        <div class="text-muted h_none" style="color:dimgrey"> There are no goals higher than the currently selected goal.</div>
      </div>
    </div>
  {% else %}
  <div class="col-sm-4 px-1">
    <div class="card bg-secondary text-white">
      <div class="card-header">{{higher_goal.goal_type_id__goal_name}} Goal(s): </div>
      <div class="card-body" style="background-color: #f8f9fa;">
        <div class="list-group higher" data-toggle="buttons" data-multiselectable="true">
          {% if higher_goal == 'None' %}
          <div class="text-muted h_none"> No Associated Higher Goal</div>
          {% else %}
          <div class="container" style="align-items: center;">
            <div class="active list-group-item h_goal col-sm-11" id="lower_goal{{forloop.counter}}" onclick="toggleSelected(this,{{higher_goal.goal_id}},{{curr_goal.goal_id}},'high')">{{higher_goal.goal}}</div>
            <div class="text-muted h_none" style="display: none;"> No Associated Higher Goal</div>
            <div><i class="fa-solid fa-cube" style="color: #0659ea;" title="click here to drill into this goal" ondblclick="toggleDoubleSelected({{higher_goal.goal_id}})"></i></div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card bg-info text-white mt-3">
      <div class="card-header">Unaligned {{higher_goal.goal_type_id__goal_name}} Goals:</div>
        <div class="card-body" style="background-color: #f8f9fa;">
          <div class="list-group h_other" data-toggle="buttons" data-multiselectable="true">
            {% for g in other_h_goals %}
            <div class="container" style="align-items: center;">
              <div class="list-group-item h_goal col-sm-11" id="unaligned_goal{{forloop.counter}}" onclick="toggleSelected(this,{{g.goal_id}},{{curr_goal.goal_id}},'high')">{{g.goal}}</div>
              <div><i class="fa-solid fa-cube" style="color: #0659ea;" title="click here to drill into this goal" ondblclick="toggleDoubleSelected({{g.goal_id}})"></i></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  {% endif %}
  <div class="text-center mt-3">
    <button type="button" class="btn btn-primary" style="background-color: #bfa27e; border-color: #bfa27e;" onclick="addNewRecord('{{higher_goal.goal_type_id}}')">
      <i class="fas fa-plus"></i> Add New Goal
    </button>
  </div>
</div>

<!--  CURRENT GOAL -->
    <div class="col-sm-4 px-1" >
      <div class="card bg-secondary text-white">
        <div class="card-header">{{curr_goal.goal_type_id__goal_name}} Being Aligned:</div>
        <div class="card-body" style="background-color: #f8f9fa;">
              <div id="curr_goal" class="text-secondary">{{curr_goal.goal}}</div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button type="button" class="btn btn-primary" style="background-color: #bfa27e; border-color: #bfa27e;" onclick="openEditModal('{{curr_goal.goal_id}}','{{ curr_goal.goal }}','{{curr_goal.roll_up_id}}', '{{curr_goal.priority}}', '{{curr_goal.goal_type_id}}', 'edit')">
          <i class="fas fa-edit"></i> Edit Goal
        </button>
      </div>
    </div>

<!--  ENABLING GOALS -->
    {% if lower_goal == 'None' %}
    <div class="col-sm-4 px-1">
      <div class="card bg-secondary text-white">
        <div class="card-header" style="background-color: #c0c2c4; color:dimgrey">No Goals </div>
        <div class="card-body" style="background-color: #e8ecf0;">
          <div class="text-muted l_none" style="color:dimgrey"> There are no goals lower than the currently selected goal.</div>
        </div>
      </div>
    </div>  
    {% else %}
    <div class="col-sm-4 px-1">
      <div class="card bg-secondary text-white">
        <div class="card-header">Associated {{lower_goal.0.goal_type_id__goal_name}} Goals:</div>
        <div class="card-body" style="background-color: #f8f9fa;">
          <div class="list-group lower" data-toggle="buttons" data-multiselectable="true">
            
            {% for g in lower_goal %}
              <div class="container" style="align-items: center;">
                <div class="active list-group-item col-sm-11" id="lower_goal{{forloop.counter}}" onclick="toggleSelected(this,{{g.goal_id}},{{curr_goal.goal_id}},'low')">{{g.goal}}</div>
                <div><i class="fa-solid fa-cube" style="color: #0659ea;" title="click here to drill into this goal" ondblclick="toggleDoubleSelected({{g.goal_id}})"></i></div>
              </div>
            {% endfor %}
            <div class="text-muted l_none" style="display: none;"> No Associated Enabling Goal</div>
          </div>
        </div>
      </div>
      <div class="card bg-info text-white mt-3">
        <div class="card-header">Unaligned {{lower_goal.0.goal_type_id__goal_name}} Goals:</div>
          <div class="card-body" style="background-color: #f8f9fa;">
            <div class="list-group l_other" data-toggle="buttons" data-multiselectable="true">
              {% for g in other_goals %}
              <div class="container" style="align-items: center;">
                <div class="list-group-item col-sm-11" id="unaligned_goal{{forloop.counter}}" onclick="toggleSelected(this,{{g.goal_id}},{{curr_goal.goal_id}},'low')">{{g.goal}}</div>
                <div><i class="fa-solid fa-cube" style="color: #0659ea;" title="click here to drill into this goal" ondblclick="toggleDoubleSelected({{g.goal_id}})"></i></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button type="button" class="btn btn-primary" style="background-color: #bfa27e; border-color: #bfa27e;"  onclick="addNewRecord('{{lower_goal.0.goal_type_id}}')" >
            <i class="fas fa-plus"></i> Add New Goal
          </button>
        </div>
      </div>
    {% endif %}
    <!-- </div> -->
</div>

  <div class="row mt-3">
    <div class="col-sm-3">

    </div>
  </div>
</div>

{% include 'goals_footer.html' with page='a' %}

<script>
var myapiserver = "{{ apiserver }}";
$(document).ready(function() {

  $('#addGoalModal').on('shown.bs.modal', function() {
    setTimeout(function() {
      $('#goalName').trigger('focus');
    }, 500);
    console.log('modal shown');
  });
});

  function toggleSelected(element, goalId, currGoalId, type) {
    var form = new FormData();
    form.append("drillGoal", goalId);
    form.append("currGoal", currGoalId);
    form.append("type", type);
    form.append("userId", {{user.id}});

    if (element.classList.contains('active')) {
      element.classList.remove('active');
      form.append("action", "remove");
      if (type == 'low') {
        var card_body = document.querySelector('.l_other');
        var goal_elem = document.querySelector('.lower');
        var none_elem = document.querySelector('.l_none');
      } else {
        console.log('high');
        var card_body = document.querySelector('.h_other');
        var goal_elem = document.querySelector('.higher');
        var none_elem = document.querySelector('.h_none');
      }
      card_body.appendChild(element.parentNode);
      
      if (goal_elem.childElementCount == 1) {
        none_elem.style.display = 'Block';
      }

    } else {
      element.classList.add('active');
      form.append("action", "add");
      if (type == 'low') {
        var card_body = document.querySelector('.lower');
        var goal_elem = document.querySelector('.l_other');
        var none_elem = document.querySelector('.l_none');
      } else {
        console.log('high');
        var card_body = document.querySelector('.higher');
        var h_goal_elem = document.querySelector('.higher .h_goal');
        var other_card_body = document.querySelector('.h_other');
        var goal_elem = document.querySelector('.h_other');
        var none_elem = document.querySelector('.h_none');
        if (h_goal_elem !== null) {
          h_goal_elem.classList.remove('active');
          other_card_body.appendChild(h_goal_elem.parentNode);
        };
      }
      console.log('moving element');
      card_body.appendChild(element.parentNode);
      none_elem.style.display = 'None';

    }
  console.log(goalId, currGoalId, {{user.id}}, form.get("action"));

  var settings = {
      "url": "http://{{apiserver}}/api/goal_drilldown/",
      "method": "POST",
      "timeout": 0,
      "processData": false,
      "mimeType": "multipart/form-data",
      "contentType": false,
      "data": form,
      };

      $.ajax(settings).done(function (response) {
        console.log(response);
      });

}


  function toggleDoubleSelected(id) {
    var goal_id = id; 
    var url = window.location.href + '&goal_id=' + goal_id;
    console.warn(url);
    window.location.href = url;
  }

// <!-- JavaScript code to trigger the modal window -->


  
function editGoalOld(goalId, action) {
    var form = new FormData();
    var goal = document.getElementById('editGoalName').value;
    form.append("goalId", goalId);
    form.append("goal", goal);
    form.append("userId", {{user.id}});
    form.append("action", action);
    var settings = {
    "url": "http://{{apiserver}}/api/goaledit/",
    "method": "POST",
    "timeout": 0,
    "processData": false,
    "mimeType": "multipart/form-data",
    "contentType": false,
    "data": form,
    };

        $.ajax(settings).done(function (response) {
            console.log(response);
            let answer = JSON.parse(response);
            // let text = answer.choices[0].text;
            console.error(answer);
            // console.log(text);
            $("#addGoalModal").modal('hide');
            $("#editGoalModal").modal('hide');
            $("#curr_goal").text(goal);

            });
        
}


    </script>
<script src="{% static 'scripts/goals.js' %}"></script>





{% endblock content %}

{% block modal %}

{% include 'goals/goals_modals.html' %}

<!-- Modal window -->




{% endblock modal %}
