{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="{% static 'scripts/api.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/dnd.js' %}"></script>
    <script>



    </script>
<div class="col-sm-10">
  <h2 class="text-center">DRILL Goals</h2>
  <h4 id="gStep" class="text-center"><i class="bi bi-1-circle-fill"></i>  Let's Drill down your LT goals...</h4>
  <p id="gInstr" class="text-center">Description for what you are doing...</p>
</div>

<div class="container">
<!-- Goal Selector -->
  <div id="listId1" class="col-md-12">
    <div class="box row-fluid box">
      <div id="LT" class="listitem box cellrow" name="xxx">
        <div id="goalSort" class="col-md-2" style="">Life Long Goal</div>
          <div id="LTBox" class="box row-fluid" name="xxx">
            <div id="LT" class="listitem box cellrow" name="xxx">
              <div id="goalSort" class="col-md-2" style="">Long Term Goal</div>
              <div id="LL" class="box row-fluid" name="xxx">
                <div id="LT" class="listitem box cellrow" name="xxx">
                  <div id="goalSort" class="col-md-2" style="">Mid Term Goal</div>
                    <div id="LL" class="box row-fluid" name="xxx">
                      <div id="LT" class="listitem box cellrow" name="xxx">
                        <div id="goalSort" class="col-md-2" style="">Short Term Goal</div>
                        <div id="LL" class="box row-fluid" name="xxx">
                          <div id="LT" class="listitem box cellrow" name="xxx">
                            <div id="goalSort" class="col-md-2" style="">Task</div>
                          </div>
                          <div id="LT" class="listitem box cellrow" name="xxx">
                            <div id="goalSort" class="col-md-2" style="">Task</div>
                          </div>
                        </div>
              
                      </div>
                      <div id="LT" class="listitem box cellrow" name="xxx">
                        <div id="goalSort" class="col-md-2" style="">Short Term Goal</div>
                      </div>
                    </div>
                  </div>
                  <div id="LT" class="listitem box cellrow" name="xxx">
                    <div id="goalSort" class="col-md-2" style="">Mid Term Goal</div>
                  </div>
              </div>
            </div>
            <div id="LT" class="listitem box cellrow" name="xxx">
              <div id="goalSort" class="col-md-2" style="">Long Term Goal</div>
            </div>
          </div>
        </div>
    </div>
    <div id="LT" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Long Term Goal</div>
    </div>
    <div id="MT" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Mid Term Goal</div>
    </div>
    <div id="ST" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Short Term Goal</div>
    </div>
    <div id="TK" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Task</div>
    </div>
  </div>

  <!-- Goal List -->
  <!-- <div id="listId2" class="col-md-2 align-items-start">
    <div id="goal1" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Goal 1</div>
    </div>
    <div id="goal2" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Goal 2</div>
    </div>
    <div id="goal3" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Goal 3</div>
    </div>
    <div id="goal4" class="listitem box cellrow" name="xxx">
      <div id="goalSort" class="cell box " style="">Goal 4</div>
    </div> -->
</div>

  <div class="height"></div>
  
  <script>


    </script>





{% endblock content %}