{% extends 'assess/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{title}}{% endblock title %}

{% block content %}

<!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<!-- q.id not updating -->

<div class="container bg-warning mt-3" style="align-items: center; justify-content: flex-start;">
    <h3 class="text-center">Action: </h3>
    <p class="section_text px-3">{{action.0.outcome}}</p>
</div>
<hr class="style5">
    <div class="container p-0" style="justify-content: left; flex-direction: column;">
        <p class="section_text">Strategicus Recommends:</p>
        <!-- <p style="section_text" id="aiGuidance">There are many different ways to keep track of your project work separately from your day-to-day work. One option is to use a project management tool like Asana, Trello, or Jira. These tools allow you to track tasks and deadlines, as well as assign tasks to specific team members. Another option is to keep a separate project notebook where you track all of the tasks and deadlines for each project. This can be a good option if you don't want to use a project management tool, or if you only have a few projects that you're working on. A third option is to work with a training or consulting partner who can help you to track your project work and ensure that it is separate from your day-to-day work. This can be a good option if you want someone else to take care of the logistics of tracking your projects.</p> -->
        <p style="section_text" id="aiGuidance">Thinking...</p>
        <input type="button" value="Ask AI" onclick="ask_ai('{{action.0.outcome}}')">
    </div>
<hr>
<div class="container py-2">
    <!-- <div class="row"> -->
    <div id="contents" class="filter col-md-2 border align-middle text-center" onclick="hide_row('website','W');" name="W">Websites</div>
    <div id="contents" class="filter col-md-2 border align-middle text-center" onclick="hide_row('book','B');" name="B">Books</div>
    <div id="contents" class="filter col-md-2 border align-middle text-center" onclick="hide_row('consulting','C');" name="C">Partners </div> 
    <div id="contents" class="filter col-md-2 border align-middle text-center" onclick="hide_row('solution','S');" name="S">Solutions </div>
    <div id="contents" class="filter col-md-2 border align-middle text-center" onclick="hide_row('training','T');" name="T">Training </div>
    <div id="contents" class="filter col-md-2 border align-middle text-center" onclick="hide_row('video','V');" name="V">Videos </div>
    <!-- </div> -->
</div>
<table class="table table-hover table-striped">
    <tr>
        <th>Type</th>
        <th>Engagement</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Knowledge Level</th>
        <th>Complexity</th>
        <th>Duration</th>
        <th>Rating</th>
    </tr>
    {% for e in engagement %}
    <tr name="{{e.type}}">
        <td style="text-align: center; text-transform:capitalize;">{{e.type}}</td>
        <td><a href="{{e.link}}">{{e.name}}</a></td>
        <td style="font-size: small;">{{e.desc}}</td>
        <td style="text-align: right;">${{e.cost|intcomma}}</td>
        <td style="text-align: center;">{{e.level}}</td>
        <td style="text-align: center;">{{e.complexity}}</td>
        <td style="text-align: center;">{{e.duration}} {{e.duration_units}}</td>
        <td style="text-align: center;">{{e.rating}}</td>
    </tr>
    {% endfor %}
</table>
<a href="/question?scid=14&section=a">Return to actions</a>

<script src="{% static 'scripts/ai.js' %}"></script>
<script>
    // document.addEventListener( "DOMContentLoaded", ask_ai('{{action.0.outcome}}'));
    function hide_row(ele,btn) {
        var type = ele
        var button = btn
        var y = document.getElementsByName(button);
        var x = document.getElementsByName(type);
        if (x.length == 0) {
            y[0].style.backgroundColor = "lightgray";
            y[0].style.color = "gray";
        }
        for (var i = 0; i < x.length; i++) {
            if (x[i].style.display == "none") {
                y[0].style.backgroundColor = "#f3c98b";
                x[i].style.display = "table-row";
            } else {
                y[0].style.backgroundColor = "#9a877876";
                x[i].style.display = "none";
            }
        }
        // if (x.style.display === "none") {
        //     x.style.display = "table-row";
        // } else {
        //     x.style.display = "none";
        // }
    }
</script>

{% endblock content %}