{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="{% static 'scripts/api.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/dnd.js' %}"></script>
    <script>



    </script>
<div class="col-sm-10">
  <h2 class="text-center">Align Goals</h2>
  <h4 id="gStep" class="text-center"><i class="bi bi-1-circle-fill"></i>  Next we need to align goals to each other.</h4>
  <p id="gInstr" class="text-center">Choose smaller goals that help achieve this goal and link this goal to a bigger picture goal.</p>
</div>
<div class="container">
  <div class="col-sm-3" style="width:32%;">
        <div id="goalHead" class="bg-secondary">HIGHER GOALS:</div>
        <div id="goalBig" class="border">
            <div>HIGH {{higher_goal.goal}}</div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-3" style="width:32%;">
            <div id="goalHead" class="bg-secondary">GOAL TO ALIGN:</div>
            <div id="goalThis" class="border">
                <div>CURR {{curr_goal.goal}}</div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="col-sm-3" style="width:32%;">
            <div id="goalHead" class="bg-secondary">ENABLING GOALS:</div>
            <div id="goalSmall" class="border">
            {% for g in lower_goal %}
                <div class="border">LOW {{g.goal}}</div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
  
  <script>

    function btnNext() {
      const g = document.querySelectorAll(".goalSort");
      const g2 = document.querySelectorAll(".goalTime");

      var x = document.getElementById("goalTime");
      var y = document.getElementById("goalSort");

      if (x.style.display === "none") {
        for (const goal of g2) {
          goal.style.display = "block";
          fieldActive(".lblTime");
        }
        document.getElementById("gStep").innerHTML = "<i class='bi bi-2-circle-fill'></i>  Next, select how long you think it will take to achieve each goal.";
        document.getElementById("gInstr").innerHTML = "This is just a rough estimate.  You can change it later if you want.";
      } else {
        fieldActive(".goalSort");
        for (const goal of g) {
          goal.style.display = "block";
        }
        document.getElementById("gStep").innerHTML = "<i class='bi bi-3-circle-fill'></i>  Finally, drag and drop your goals into the order you want to achieve them.";
        document.getElementById("gInstr").innerHTML = "You can change this later if you want.";
        document.getElementById("btnNext").style.display = "none";
        document.getElementById("btnSave").style.display = "inline-block";

      }
    }

    function fieldActive(newFld) {
        const ele = document.querySelectorAll(".activeText");
        ele.forEach(function (e) {
          e.classList.remove("activeText");
        });
        const ele2 = document.querySelectorAll(newFld);
        ele2.forEach(function (e) {
          e.classList.add("activeText");
        });
      }


 

      function saveGoals(){
        var form = new FormData();
        var goals = [];
        var goalTimes = [];
        var userId = {{user.id}};
        $('#' + 'listId2' + ' .listitem').each(function(index) {
          goals.push($(this).find('input').val());
          goalTimes.push($(this).find('select').val());
        });
        jGoals = JSON.stringify({ data: goals });
        jTimes = JSON.stringify({ data: goalTimes });
        form.append("goals", jGoals);
        form.append("goalTimes", jTimes);
        form.append("userId", userId);

        console.log('goals:  ',goals);
        console.log('goalTimes:  ',goalTimes);

        var settings = {
        "url": "http://{{apiserver}}/api/goalapi/",
        "method": "POST",
        "timeout": 0,
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form,
        };

        $.ajax(settings).done(function (response) {
        let answer = JSON.parse(response);
        let text = answer.choices[0].text;
        console.error(answer);
        console.log(text);
      });
    };

    </script>





{% endblock content %}