{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<div class="d-flex flex-column justify-content-center" id="">
  <div class="pt-3 mx-auto"><h1>User Profile</h1></div>

    First Name <input type="text">
    Last Name: <input type="text">
    Age: <input type="text">
    Education: <input type="text">
    <input type="submit">
    <h3>Planning Style</h3>
    <p>Productivity:  Nothing is done, yet nothing is left undone < ---- > I make bees look lazy</p>
    <p>Planning:  I'm not sure where I am right now < ---- > I plan when to take each breath</p>
    <p>Zest for Life:   Getting out of bed is a win < ---- > I can't wait to see what's next!</p>


</div>

  <script>


  </script>





{% endblock content %}