{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<!-- q.id not updating -->

<h3 class="text-center pt-3">Questions</h3>
<hr class="style5">
<div class="container" >
  <div class="d-flex flex-column align-items-center" id="row">
    <!-- {{quest.questions}}{{quest.questions|length}} -->
    {% with q=quest.questions.0 %}
    {% if quest.questions|length > 0 %}
      <input type="hidden" id="questnbr" value="{{q.id}}">
      <div class="col-md-10 align-items-center text-center h3" id="cell">
        <div id="sc_contents">
              <div id="question">{{q.question}} </div>
        </div>
      </div>
      <div class=" col-md-12 d-flex flex-row justify-content-center" style="padding:5px;">
        <div class="col-md-1 align-middle align-items-center" style="padding:5px;">
            <input id="assChky1" type="button" value="yes" onclick="scoreUpdate(1, 1, 1, 1)" class="btn btn-secondary col-12">
        </div>
        <div class="col-md-1 align-middle align-items-center" style="padding:5px;">
          <input id="assChkn1" type="button" value="no" onclick="scoreUpdate(1, 1, 1, 0)" class="btn btn-secondary col-12">
      </div>
    </div>

      {% else %}
      <div class="col-md-4 border align-middle align-items-center" id="cell">
        <div id="contents">
              <div>No questions are available for this subcomponent</div>
        </div>
      </div>
      {% endif %}
  </div>
  <!-- <div class="row align-items-center" id="row">
    <div class="col-md-10 align-middle align-items-center">Question just answered: <div style="display:inline-block;" id="response1"> Answer block1 </div></div>
    <div class="col-md-10 align-middle align-items-center">Next based on YES: <div style="display:inline-block;" id="response2"> Answer block2 </div></div>
    <div class="col-md-10 align-middle align-items-center">Next based on NO:: <div style="display:inline-block;" id="response3"> Answer block3 </div></div>
  </div> -->
  <div class="row align-items-center" id="row">
    <div class="col-md-12 align-middle align-items-center text-center"><a href="/question?scid=14&section=r">View Summary</a></div>
  </div>
</div>
{% endwith %}


<script>

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
      (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
      // or any other URL that isn't scheme relative or absolute i.e relative.
      !(/^(\/\/|http:|https:).*/.test(url));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
        // Send the token to same-origin, relative URLs only.
        // Send the token only if the method warrants CSRF protection
        // Using the CSRFToken value acquired earlier
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      }
    }
  });

  function scoreUpdate(asessment, next, user, answer) {

    var question = document.getElementById("questnbr").value
    var form = new FormData();
    form.append("ass_id", asessment);
    form.append("q_id", question);
    form.append("next_id", next);
    form.append("usr_id", user);
    form.append("answer", answer);

    var settings = {
    "url": "http://192.168.0.208:777/api/question/",
    // "url": "http://test.geekfest.live:777/api/stats/rating/",
    "method": "POST",
    "timeout": 0,
    // "headers": {
    // 	"Cookie": "sessionid=fkcrfqey2igzl8m9alg6qlsihcd0n89j"
    // },
    "processData": false,
    "mimeType": "multipart/form-data",
    "contentType": false,
    "data": form
    };

    $.ajax(settings).done(function (response) {
    console.log('response',response);
    var test_val = JSON.parse(JSON.parse(response));
    // console.log(test_val[0].question_id, test_val[0].question);

    document.getElementById("question").innerHTML = test_val[0].question;
    // document.getElementById("response1").innerHTML = test_val[0].question;
    // document.getElementById("response2").innerHTML = test_val[0].yquest;
    // document.getElementById("response3").innerHTML = test_val[0].nquest;
    document.getElementById("questnbr").value = test_val[0].question_id;
    console.log("questnbr updated to ", test_val[0].question_id);
    if (test_val[0].question_id == 99999){
      // go to view summary
      window.location.href = "/question?scid=14&section=r";
    }

    
    });

    // var eley = 'assChky1', elen = 'assChkn1';
    // if (answer==0) {
    //   document.getElementById(eley).classList.remove('btn-success');
    //   document.getElementById(elen).classList.remove('btn-secondary');
    //   document.getElementById(eley).classList.add('btn-secondary');
    //   document.getElementById(elen).classList.add('btn-danger');
    // }
    // if (answer==1) {
    //   document.getElementById(eley).classList.remove('btn-secondary');
    //   document.getElementById(eley).classList.add('btn-success');
    //   document.getElementById(elen).classList.remove('btn-danger');
    //   document.getElementById(elen).classList.add('btn-secondary');
    // }

  }
  </script>
	
{% endblock content %}