{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<!-- q.id not updating -->

<h3 class="text-center pt-3">Questions</h3>
<hr class="style5">
<div class="" >
  {% with q=quest.questions.0 %}
  {% if quest.questions|length > 0 %}
  <div class="d-flex flex-column align-items-center" style="height: 250px; border-radius: 1em;
    {% if q.type == 'process' %} background-color: aliceblue;
    {% elif q.type == 'people' %} background-color: antiquewhite;
    {% elif q.type == 'tool' %} background-color: aquamarine;
    {% endif %}" id="row">
      <div class="container">
        <div class="tag-box" id="qsection">{{q.section}}</div>
        <div class="tag-fade" id="qtype">{{q.type}}</div>
        <div class="tag-box" id="qlevel">{{q.level}}</div>
      </div>
      <input type="hidden" id="questnbr" value="{{q.id}}">
      <!-- <input type="hidden" id="qsection" value="{{q.section}}">
      <input type="hidden" id="qtype" value="{{q.type}}">
      <input type="hidden" id="qlevel" value="{{q.level}}"> -->
      <div class="col-md-10 align-items-center text-center h3" id="cell">
        <div id="sc_contents" style="height: 125px;">
              <div id="question">{{q.question}} </div>
        </div>
      </div>
      <div class=" col-md-12 d-flex flex-row justify-content-center" style="padding:5px;">
        <div class="col-md-1 align-middle align-items-center" style="padding:5px;">
            <input id="assChky1" type="button" value="yes" onclick="scoreUpdate(1, 1, 1, 1)" class="btn btn-secondary col-12">
        </div>
        <div class="col-md-1 align-middle align-items-center" style="padding:5px;">
          <input id="assChkn1" type="button" value="no" onclick="scoreUpdate(1, 1, 1, 0)" class="btn btn-secondary col-12">
      </div>
      <div class="col-md-1 align-middle align-items-center" style="padding:5px;">
        <input id="assChkn1" type="button" value="skip" onclick="scoreUpdate(1, 1, 1, 9)" class="btn btn-outline-info col-12">
      </div>

    </div>

      {% else %}
      <div class="col-md-4 border align-middle align-items-center" id="cell">
        <div id="contents">
              <div>No questions are available for this subcomponent</div>
        </div>
      </div>
      {% endif %}
  </div>
  <hr class="style5">
  <div class="row align-items-center" style="justify-content: center;" id="row">
    <div class="col-md-3 align-middle align-items-center text-center"><a href="/question?scid=14&section=r">Results</a></div>
    <div class="col-md-3 align-middle align-items-center text-center"><a href="/question?scid=14&section=r">Next Section</a></div>
    <div class="col-md-3 align-middle align-items-center text-center"><a href="/question?scid=14&section=r">View Summary</a></div>
  </div>
{% endwith %}


<script>
  document.addEventListener("DOMContentLoaded", function() {
  setColors();
  });

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
      (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
      // or any other URL that isn't scheme relative or absolute i.e relative.
      !(/^(\/\/|http:|https:).*/.test(url));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
        // Send the token to same-origin, relative URLs only.
        // Send the token only if the method warrants CSRF protection
        // Using the CSRFToken value acquired earlier
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      }
    }
  });

  function setColors() {
    var section = document.getElementById("qsection").innerHTML
    var type = document.getElementById("qtype").innerHTML
    var level = document.getElementById("qlevel").innerHTML
    if (type == "process") {
      document.getElementById("row").style.backgroundColor = "#dfe7fd";
    } else if (type == "people") {
      document.getElementById("row").style.backgroundColor = "#ecf39e";
    } else {
      document.getElementById("row").style.backgroundColor = "#eae0d5";
    }

    if (level == "1") {
      document.getElementById("qlevel").style.backgroundColor = "#ecf39e";
    } else if (level == "2") {
      document.getElementById("qlevel").style.backgroundColor = "#ffc971";
    } else {
      document.getElementById("qlevel").style.backgroundColor = "#fad2e1";
    }
    document.getElementById("qlevel").style.color = "#0b132b";

  } 
  

  function scoreUpdate(asessment, next, user, answer) {

    var question = document.getElementById("questnbr").value
    var form = new FormData();
    form.append("ass_id", asessment);
    form.append("q_id", question);
    form.append("next_id", next);
    form.append("usr_id", user);
    form.append("answer", answer);

    var settings = {
    "url": "http://192.168.0.209:777/api/question/",
    // "url": "http://test.geekfest.live:777/api/stats/rating/",
    "method": "POST",
    "timeout": 0,
    // "headers": {
    // 	"Cookie": "sessionid=fkcrfqey2igzl8m9alg6qlsihcd0n89j"
    // },
    "processData": false,
    "mimeType": "multipart/form-data",
    "contentType": false,
    "data": form
    };

    $.ajax(settings).done(function (response) {
    console.log('response',response);
    var test_val = JSON.parse(JSON.parse(response));
    // console.log(test_val[0].question_id, test_val[0].question);

    document.getElementById("question").innerHTML = test_val[0].question;
    // document.getElementById("response1").innerHTML = test_val[0].question;
    // document.getElementById("response2").innerHTML = test_val[0].yquest;
    // document.getElementById("response3").innerHTML = test_val[0].nquest;
    document.getElementById("questnbr").value = test_val[0].question_id;
    document.getElementById("qsection").innerHTML = test_val[0].section__name;
    document.getElementById("qlevel").innerHTML = test_val[0].level;
    document.getElementById("qtype").innerHTML = test_val[0].type;


    setColors();
    console.log("questnbr updated to ", test_val[0].question_id);
    if (test_val[0].question_id == 999999){
      // go to view summary
      window.location.href = "/question?scid=14&section=r";
    }
    });
  }

  
  </script>
	
{% endblock content %}