{% extends 'assess/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


<div class="container" id="grid">
  <div class="row align-items-center" id="row">
    {% for i in subcomp %}
    <div class="col-md-4 border align-middle align-items-center" id="cell" onclick="window.location.href='question?scid={{i.subcomp_id}}&section=q';">
        <div id="contents">
          <img src="/static/icons/{{i.icon}}.png" alt="- no icon -" height=46px onerror="this.src=&quot;{% static 'images/'%}sus_icon.gif&quot; ;"/>
          <div>{{i.name}}</div>
        </div>
    </div>
      <!-- <div class="col-md-4 border" id="cell" onclick="window.location.href='subcomp?scid={{comp.1.comp_id}}&section=q';">
        <div id="contents">
          <img src="/static/icons/servicedesk.png" alt="- no icon -" height=46px/>
          <div>Service Desk</div>
        </div>
      </div> -->
  
    {% endfor %}
  </div>
</div>
	
{% endblock content %}

