@charset "utf-8";

/* ************** Header Styles **************  */
#footer {
  /* position: absolute; */
  padding-top: 50px;
  bottom: 0;
  width: 100%;
  height: 3.5rem;            /* Footer height */
  
}

#main {
  margin-top: 75px;
  padding: 5px;
}

#grid {
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

#grid #row {
  height: 33%;
}

#grid #cell {
  height:100%;
  background-color:#9a877876;
  border-radius: 1rem;
}

#grid .container {

}

#grid #contents {
  display: flex;
  padding: 15px 5px;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

#sc_contents {
  font-size: larger;
  font-weight: 600;
  height: 125px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

#summ_contents {
  font-size: larger;
  font-weight: 600;
  display: flex;
  align-content: right;
  flex-wrap: wrap;
  justify-content: right;
}

#cell .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  background-color: #9a877876;
  border-radius: 1rem;  
}

#cell .block {
  padding: 5px 20px;
  font-size: x-large;
}

.row .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  flex-wrap: wrap;
}

.icon {
  padding: 10px;
  height: 50px;
}

.filter {
  padding: 3px;
  height: 35px;
  background-color: #f3c98b;
  border-radius: 10px;
}

.section_text {
  font-size: medium;
  font-weight: 600;
  padding: 2px;
  font-variant: small-caps;
  margin: 0px;
}

/* ************** Header Styles **************  */
.login {
	position: fixed;
    height: 25px;
    top: 15px;
	  right: 50px;;
    display: inline-block;
}

.login-text {
	display: inline-block;
    vertical-align: top;
    color: lightgray;
    padding-left: 10px;
    font-size: 25px;
}

.login-img {
	display: inline-block;
    vertical-align: top;
}

/* ************** NavBar Styles **************  */
body {
    padding-bottom: 20px;
    background-color: #9a877830;
    display: block;
    max-width: 1440px;
    margin: auto;
  }
  
  .navbar {
    margin-bottom: 20px;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  /*******************   AI page styles *******************/

  #aiResponse {
    display: flex;
    flex-direction: column;
    width: 1000px; 
    min-height: 300px; 
    background-color: lightgrey; 
    overflow-y: auto; 
    max-height: 300px; 
    padding:5px;
    overflow-x: hidden;
    text-align:justify;
}


  /*******************   Main page styles *******************/

  .vsc-initialized {
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    min-width: 100%;
  }


  /*******************   Button styles *******************/

  .btn-secondary:hover {
    background-color:#9a877876;
  }

  .tag-box {
    align-self: flex-start;
    padding: 0px 8px;
    background-color: cornflowerblue;
    color: white;
    margin-left: 10px;
    margin-top: 2px;
    border-radius: .25em;
  }

  .tag-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    /* padding: 2px; */
    background: forestgreen;
    border: 1px solid #000;
    color: white;
    text-align: center;
    /* font: 32px Arial, sans-serif; */
  }

  .tag-fade {
    opacity: 0.25;
  }

  /*******************   Setup Page   *******************/


  .setup .hdrrow {
    display: block;
    min-width: 100%;
    color: white;
    background-color: #474340;
    padding: 3px 10px;
    font-size: large;
    font-weight: 500;
  }

  .cellrow {
    display: flex;
    flex-wrap: wrap;
  }

  .cellrow .cell {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 5px 10px;
  }
  
  .height {
    height: 10px;
  }

  .qstn {
    display: flex; 
    flex-direction: column;
    border: 1px solid black; 
    margin: 10px; 
    width: 150px;
    background-color: #9a877876;
  }

  .qual {
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.edit-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}

.edit-close:hover,
.edit-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* *******************   QUestion Setup styles ******************* */
    /* listId styling */
  .dndlist {
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow-x: auto;
      white-space: nowrap;
  }
   
  .dndlist div {
      margin: 0 4px 4px 4px;
      padding: 0.4em;
      display: inline-block;
  }
   
  /* Output order styling */
  #outputvalues {
      margin: 0 2px 2px 2px;
      padding: 0.4em;
      padding-left: 1.5em;
      width: 250px;
      border: 2px solid dark-green;
      background: gray;
  }
   
  .listitem {
      border: 1px solid #006400;
      width: 350px;
  }

  /* *******************   Goals styles ******************* */
  .box {
    /* border: 3px solid #666; */
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    width: 100%;
    min-width: 50%
    }

    .activeText {
      background-color: #26e90c76;
    }
